1_core_nodes.json
[{"id":"9d968aa6.2e9198","type":"tab","label":"CORE NODES","disabled":false,"info":""},{"id":"193c6f82.60d7b","type":"inject","z":"9d968aa6.2e9198","name":"Inserción","topic":"number","payload":"1","payloadType":"num","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["38033d69.6eb2c2"]]},{"id":"c91dd2a4.e42bd","type":"debug","z":"9d968aa6.2e9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"38033d69.6eb2c2","type":"function","z":"9d968aa6.2e9198","name":"function","func":"if (msg.payload != 2)\n    {\n        msg.payload = msg.payload +1 \n        return msg;\n            \n    }\n","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["cdb88f36.06c64","97c90e7b.e8bd8"]]},{"id":"cdb88f36.06c64","type":"change","z":"9d968aa6.2e9198","name":"change","rules":[{"t":"set","p":"first_var","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[[]]},{"id":"97c90e7b.e8bd8","type":"switch","z":"9d968aa6.2e9198","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":400,"wires":[["bfb3a332.73ca7"],["bc93cd2a.cfefc"],["214a1299.cf96de"]]},{"id":"bfb3a332.73ca7","type":"function","z":"9d968aa6.2e9198","name":"function 1","func":"msg.payload = \"es un uno\"\nreturn msg\n","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["c91dd2a4.e42bd"]]},{"id":"de675fdb.20f07","type":"debug","z":"9d968aa6.2e9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":420,"wires":[]},{"id":"bc93cd2a.cfefc","type":"function","z":"9d968aa6.2e9198","name":"function 2","func":"msg.payload = \"es un dos\"\nreturn msg\n","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["85a2c216.7cac3"]]},{"id":"d1a19966.d8d3e8","type":"debug","z":"9d968aa6.2e9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":480,"wires":[]},{"id":"214a1299.cf96de","type":"function","z":"9d968aa6.2e9198","name":"function 3","func":"msg.payload = \"es un tres\"\nreturn msg\n","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["d1a19966.d8d3e8"]]},{"id":"85a2c216.7cac3","type":"template","z":"9d968aa6.2e9198","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":800,"y":420,"wires":[["de675fdb.20f07"]]}]